:root {
  --purple: #9147ff;
}

body {
  width: 400px;
  background-color: #222;
  color: #eee;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 5px auto;
  font-size: 1.2rem;
  padding: 8px;
  border: 1px solid black;
}

li:nth-child(odd) {
  background-color: var(--purple);
}

h2,
h3 {
  text-align: right;
}

#statusMessage {
  font-size: 1rem;
}

div.tabs {
  width: 100%;
  display: flex;
}

button {
  border: none;
  background-color: transparent;
  color: white;
  padding: 8px;
  width: 50%;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

button.active {
  background-color: var(--purple);
  font-weight: bold;
}

p.input-group label {
  width: 33%;
  display: inline-block;
  font-size: 1rem;
}

p.input-group input {
  display: inline-block;
  width: 62%;
  font-size: 1rem;
  padding: 4px;
}

.hidden {
  display: none;
}
